[submodule "mPLUG-Owl/mPLUG-Owl"]
	path = mPLUG-Owl/mPLUG-Owl
	url = https://github.com/X-PLUG/mPLUG-Owl.git
[submodule "MiniGPT-4/MiniGPT-4"]
	path = MiniGPT-4/MiniGPT-4
	url = https://github.com/Vision-CAIR/MiniGPT-4.git
[submodule "Otter/Otter"]
	path = Otter/Otter
	url = https://github.com/Luodian/Otter.git
[submodule "Multimodal-GPT/Multimodal-GPT"]
	path = Multimodal-GPT/Multimodal-GPT
	url = https://github.com/open-mmlab/Multimodal-GPT.git
[submodule "ShareGPT4V/ShareGPT4V"]
	path = ShareGPT4V/ShareGPT4V
	url = https://github.com/ShareGPT4Omni/ShareGPT4V.git
[submodule "DCI"]
	path = DCI
	url = https://github.com/facebookresearch/DCI.git
